ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   position: relative;
   
}

ul h1 {
    height: 50px;
    width: 500px;
    position: absolute;
    left: 720px;
    right: auto;
    color: aqua;

}